/**
 *   Action button icon
 */

$prefix-icon-btn: 'ibtn-' !default;

.#{$prefix}#{$prefix-icon-btn}def, .#{$prefix}#{$prefix-icon-btn}def-dis {
    background-position: 0 0 !important;
    width: 18px;
    height: 17px;
    cursor: pointer;  
}

.#{$prefix}#{$prefix-icon-btn}def-dis {
    background-position: 0 -16px !important;
    cursor: default !important;
}

@mixin grid-action-btn (
    $ui,
    
    $image: null
) {
    .#{$prefix}#{$prefix-icon-btn}#{$ui} {
         background: theme-background-image($theme-name, $image) no-repeat transparent;
    }
}
