<phpunit bootstrap="bootstrap.php"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		timeoutForSmallTests="60"
        timeoutForMediumTests="60"
        timeoutForLargeTests="60"
		stopOnFailure="true"
		verbose="true"
		strict="true"
		>
</phpunit>