.project
sass/.sass-cache
assets/!dummy
assets/*
admin/runtime/!dummy
admin/runtime/*
*.swp
*.swo
build
.DS_Store
admin/public/*.log
admin/public/bootstrap.js
admin/public/bootstrap.css
admin/public/sass/example/bootstrap.js
admin/.codesniffer
contribs/client2
admin/public/sass/example/example.css
admin/public/.sencha_backup
admin/config/develop
admin/public/log/*
admin/public/NBLogger.php
admin/public/saas/example/example.css
admin/tests/Gemfile.lock
