/**
 *   Form && Fields
 */


.#{$prefix}field-body-hide input {
    border: none !important;
    background: none !important;
    cursor: default;
}

.#{$prefix}field-plugin-help {
    cursor: help;
    display: inline;
    float: right;
    height: 16px;
    padding: 1px;
    width: 16px;
}

.#{$prefix}authorize-label {
    font-weight: bold;
}
