/**
 *   Toolbar interfaces
 */


/**
 *   Header panel
 */
@include extjs-panel-ui(
  'oss-header',
  
  $ui-body-border-color: white,
  $ui-body-border-width: 0px 0px 3px 0px,
  
  $ui-body-background-color: #054B81
);


/**
 *   Header items
 */
.#{$prefix}panel-oss-header-logo {
  margin: 5px 60px 0 20px;
  background: theme-background-image($theme-name, 'logo/logo_lb2.png') no-repeat transparent;
}

.#{$prefix}panel-oss-header-fill {
  background: theme-background-image($theme-name, 'logo/header-center-fill.png') repeat-y transparent;
}


.#{$prefix}panel-oss-header-spacer {
  width: 4px;
  background: theme-background-image($theme-name, 'logo/header-panel-spacer.gif') no-repeat transparent;
}

.#{$prefix}panel-oss-header-info {
  padding: 0 7px;
  background: theme-background-image($theme-name, 'logo/header-panel-info-bg.gif') repeat-x transparent;
}

.#{$prefix}panel-oss-header-info-msg {
  padding: 2px 0 0 0;
}

/**
 *   Lagnuges
 */
.#{$prefix}app-lang-ru {
  background: theme-background-image($theme-name, 'language/ru.png') no-repeat 0 3px transparent;
}

.#{$prefix}app-lang-en {
  background: theme-background-image($theme-name, 'language/gb.png') no-repeat 0 3px transparent;
}

/**
 *   Footer panel
 */
@include extjs-panel-ui(
  'oss-footer',
  
  $ui-body-border-color: #4D4D4D,
  $ui-body-border-width: 3px 0px 0px 0px
);


/**
 *   Footer items
 */
.#{$prefix}panel-oss-footer-logo {
  width: 140px;
  height: 33px;
  margin: 0 60px 0 20px;
  background: theme-background-image($theme-name, 'logo/logo_grey.png') no-repeat transparent;
}

.#{$prefix}panel-oss-footer-copyright {
  padding: 0 0 0 30px;
  text-indent: -11px;
}


/**
 *   OSS application menu panel
 */
@include extjs-panel-ui(
  'oss-app-menu',
  
  $ui-body-border-width: 0px
);
