/**
 *   Toolbars settings
 */

@include extjs-toolbar-ui(
  "oss-app-menu",

  $background-color: transparent
);

.#{$prefix}toolbar-oss-app-menu-bg {
  background: theme-background-image('toolbar/toolbar-oss-app-menu-bg', 'gif') repeat-x transparent;
}


/**
 * Payments grid bottom toolbar
 */

.#{$prefix}type-payment-edited {
  background-color: #DBE6F2!important;
}

.#{$prefix}type-payment-corrected {
  background-color: #FACA82!important;
}

.#{$prefix}type-payment-canceled {
  background-color: #FCA4A4!important;
}

.#{$prefix}type-payment-transfer {
  background-color: #B5FFBE!important;
}

.#{$prefix}type-payment-bso {
  background-color: #E496FF!important;
}

.#{$prefix}type-payment-part-transfer {
  background-color: #9494FF!important;
}

