.input-submit, input[type="submit"] {
    width: 87px;
    padding: 0;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    height: 21px;
    cursor: pointer;
    text-align: center;
    background: #e3010d url('./../i/button-static.png') center center no-repeat;
}
