.header-tagline {
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0 4px !important;
}
.header-tagline2 {
    margin: 0;
}
.header-taglines {
    float: left;
    margin-left: 30px;
}
.sidebar-logo {
    margin-left: $padding / 2;
    margin-bottom: $padding * 2;
    line-height: 34px;
    font-size: 11px;
    float: left;
}
.no-underline {
    text-decoration: none;
}
