/**
 * Overrides default dgrid view
 */
 
 .lb_table_wrp .grid-view .price_descr {
     font-size: 10px;
     color:#B4B4B4;
 }

.lb_table_wrp .grid-view{
     padding:0;
}
 
.lb_table_wrp .grid-view table {
    width: 100%;
    margin-bottom: 40px;
}

.lb_table_wrp .grid-view table.items {
    border: none;
}

.lb_table_wrp .grid-view table.items .first_col {
    padding-left: 10px;
}

.lb_table_wrp a {
    border-bottom: 1px dotted #0A83AB;
    text-decoration: none;
}

.lb_table_wrp .grid-view table.items td {
    padding-top:10px;
    padding-bottom:10px;
}

.lb_table_wrp .grid-view table.items td.gridtitle {
    padding: 0 !important;
}

.lb_table_wrp .grid-view table.items td.empty {
    padding-left: 10px;
}

.lb_table_wrp .grid-view table.items {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

.lb_table_wrp .red_fragment, .lb_table_wrp .unavailable {
    color:#B21B14;
}

.lb_table_wrp .grid-view table.items th, .grid-view table.items td {
    /*border: none;*/
    /*padding: 4px 12px;*/
    padding-right: 10px;
    vertical-align: middle;
    font-size: 12px !important;
}

.left_padding {
    padding-left: 10px;
}

.binded-devices {
    padding-top: 40px;
    margin-bottom:0px;
    padding-bottom:5px;
    margin-left: 10px;
}

.left_margin {
    margin-left: 10px;
}

.lb_table_wrp .grid-view table.items th {
    background: none;
    text-align: left;
    color: #666666;
    border:0;
    line-height:12px;
    padding-bottom:9px;
    vertical-align: top;
    font-weight: normal;
}

.lb_table_wrp .grid-view table.items tr.odd, .lb_table_wrp .grid-view table.items tr.empty_row {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #E9E9E9 !important;
    border-top: 1px solid #E9E9E9 !important;
}

.lb_table_wrp .grid-view table.items tr.even {
    background: none repeat scroll 0 0 transparent;
}

.lb_table_wrp .grid-view table.items tbody tr:hover {
    background: none repeat scroll 0 0 #E9E9E9;
}

.lb_table_wrp .grid-view table.items tr.empty_row:hover {
    background: none repeat scroll 0 0 #E9E9E9;
}
 
.lb_table_wrp .grid-view table.items tr.donthighlight:hover {
	    background: none !important;
}

.lb_table_wrp .grid-view table.items tr.gridgroupspacer {
	height: 40px;
}
 
 
 
 
 
 
 
 
 
 
 
 
/*.grid-view table {
    width: 100%;
    margin-bottom: 40px;
}

.grid-view table.items {
    border: none;
}

.grid-view table.items th, .grid-view table.items td {
    border: none;
    padding: 4px 12px;
    vertical-align: middle;
}

.grid-view table.items th {
    background: none;
    text-align: left;
    color: #000000;
    font-weight: normal;
}

.grid-view table.items tr.odd {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
}

.grid-view table.items tr.even {
    background: none repeat scroll 0 0 transparent;
}

.grid-view table.items tbody tr:hover {
    background: none repeat scroll 0 0 #E9E9E9;
}*/
