/* Main menu design file  */
div.menu {
	font-family: verdana,tahoma,sans-serif;
	font-size: 10px;
	z-index: 100000;
	position: absolute;
	width: 100%;
	top: 0px;
}

.menu div.back-black  {
	cursor: default;
	height: 32px;
	padding: 0px;
	margin: 0px;
}

.back-black {
	background: url('menuImages/back-black.gif');
	background-repeat: repeat-x;
}

.menu .back-orange {
	background: url('menuImages/back-orange.gif');
	background-repeat: repeat-x;
	height: 17px;
}

.back-black-fix, .back-orange-fix {
	width: 990px;
}

.back-orange .top-date, .back-orange .top-time, .back-orange .top-rate, .back-orange .top-ident, .back-orange .top-exit, .back-orange .top-exit-over {
	display: inline;
	background-repeat: no-repeat;
	background-position: left;
	float: left;
	margin-top: 2px;
}

.top-date {
	background: url('menuImages/menu-cld.gif');
	margin-left: 15px;
	padding-left: 22px;
}

.top-time {
	font-weight: bold;
	background: url('menuImages/menu-clk.gif');
	margin-left: 25px;
	padding-left: 22px;
}

.top-rate {
	margin-left: 45px;
}

.rate-link, .rate-font, .rate-over {
	font-weight: bold;
	color: #771313;
}

.rate-link, .rate-over {
	cursor: pointer;
	text-decoration: underline;
}

.rate-over {
	color: #ea4414;
}

.top-ident {
	margin-left: 45px;
}

.top-ident-font {
	font-weight: bold;
	color: #771313;
}

.top-exit, .top-exit-over {
	font-weight: bold;
	cursor: pointer;
	margin-left: 45px;
	color: #771313;
	text-decoration: underline;
}

.top-exit-over {
	color: #ea4414;
}

.back-black-fix div.menu-logo, .back-black-fix div.menu-box, .back-black-fix div.menu-delim, .back-black-fix div.menu-box-over, .back-black-fix div.menu-delim-over-right, .back-black-fix div.menu-delim-over-left {
	height: 32px;
	display: inline;
	float: left;
}

.menu-logo {
	margin-left: 15px;
	margin-right: 35px;
	width: 93px;
}

.menu-delim, .menu-delim-over-left, .menu-delim-over-right {
	height: 32px;
	width: 4px;
	background-repeat: no-repeat;
	background-position: left top;
}

.menu-delim {
	background: url('menuImages/delim.gif');
}

.menu-delim-over-left {
	background: url('menuImages/delim-over-left.gif');
}

.menu-delim-over-right {
	background: url('menuImages/delim-over-right.gif');
}

.menu-box, .menu-box-over {
	width: 133px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
}

.menu-box-over {
	background: url('menuImages/back-black-over.gif');
	background-repeat: repeat-x;
}

.menu-box img, .menu-box-over img {
	margin-left: 7px;
	margin-top: -4px;
	vertical-align: middle;
	padding-top: 0px;
	float: left;
}

.boxValign {
	margin-top: 7px;
}

ul.sub li {
	padding: 0px;
	margin: -2px;
	font-size: 0px;
}

ul.sub li.subBox, ul.sub li.subBoxOver, ul.sub li.subBoxOff  {
	font-family: verdana,tahoma,sans-serif;
	font-size: 11px;
	width: 150px;
	border: none;
	cursor: default;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	margin: 0px;
	margin-bottom: 1px;
}

.sub {
	position: absolute;
	z-index: 100000;
	padding: 0px;
	padding-bottom: 1px;
	margin: 0px;
	list-style-type: none;
        list-style-position: outside;
	border: solid 1px #a0a0a0;
	background-color: #fcf2d1;
}

.subBoxOff {
	color: #c0c0c0;
}

.subBoxOver {
	background-color: #f49c2b;
	color: white;
}